// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Palette
$doc-grey:#9fa0c3;
$doc-green:#2ec4b6;
$doc-red:#c96480;
$doc-yellow:#ccff66;
$doc-violet:#4f345a;
$doc-dark:rgba(33, 37, 31, 0.8);