@use './common.scss';
@use './partials/home.scss';
@use './partials/welcome.scss';
@use './partials/login.scss';
// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    height: 100vh;
    overflow-y: hidden;
    background: url('../../public/images/bdoctors-welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
}

.show-card{
    margin: 0 auto;
    margin-top: 10rem;
}

#app {
    height: 100vh;
}

.navbar {
    height: 56px;
    background-color: $doc-dark;
}

#sidebarMenu {
    height: calc(100vh - 56px);
    background-color: $body-bg;

    .nav-link {
        .ball {
            position: absolute;
            top: -10px;
            right: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $doc-darker;
            box-shadow: 4px 4px 0 0 #fff;
        }

        .ball-reverse {
            position: absolute;
            bottom: -10px;
            right: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $doc-darker;
            box-shadow: 4px 4px 0 0 #fff;
            rotate: 270deg;
        }
    }
}

.dashboard {
    height: calc(100vh - 56px);
    overflow-y: scroll;
}