// Variables
@use '../variables' as *;

.welcome_page {
    .navbar_welcome {
    opacity:0.8;
    }

    .banner {
        position:absolute;
        top:30%;
        padding:0.5rem;
        text-align:center;
        color: $doc-green;
        border-radius: 0.5rem;
        background-color: rgba(33, 37, 31, 0.8);
            .title {
                font-weight: 600;
                color:$doc-grey !important;
            }
        }
}
